div.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1em -.5em;
  box-sizing: border-box;

  .turn {
    margin: .5em;
    flex: 1 1 auto;
    padding-left: .5rem;
    border-left: 3px solid lightgreen;

    &:nth-child(even) {
      border-color: cornflowerblue;
    }

    p {
      margin-bottom: 0;
    }
  }
}
