
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

div#main {
  margin: 0 auto;
  max-width: 960px;
  padding: 1em;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin-bottom: .5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: .45rem;
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: .4rem;
  font-weight: 600;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: .35rem;
  font-weight: 600;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: .30rem;
  font-weight: 600;
}

h6 {
  font-size: 1rem;
  margin-bottom: .25rem;
  font-weight: 600;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

ul, ol {
  margin-bottom: 1.5rem;
}

ol {
  list-style: decimal;
  margin-left: 2em;
}

li {
  line-height: 1.25rem;
}

blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
  margin: 15px 0;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

table {
  table-layout: fixed;
  margin-bottom: 1.5em;
  width: 100%;
  text-align: center;

  th {
    background-color: #4CAF50;
    color: white;
    padding: .5 rem;
    font-weight: 700;
  }

  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  tr {
    & > * {
      border-collapse: collapse;
      border: 1px solid #ddd;
    }
  }

  th, td {
    padding: .5rem;
  }

  p {
    margin: 0;
  }
}

hr {
  margin: 2em auto;
}
