.ui.container {
  display: flex;
  justify-content: flex-start;
  margin: 50px auto;
}

.manip.images.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.quadrant.container {
  margin-right: 100px;
  display: grid;
  grid-template-columns: 25px 50px 50px 50px;
  grid-template-rows: 25px 50px 50px 50px;

  button {
    background-color: lightgrey;
    border-radius: 0;
    border: none;
    box-shadow:
      2px 0 0 0 #888,
      0 2px 0 0 #888,
      2px 2px 0 0 #888,   /* Just to fix the corner */
      2px 0 0 0 #888 inset,
      0 2px 0 0 #888 inset;

    &.current {
      background-color: yellow;
      outline: none;
    }
  }
}
